.awards_page{
    margin-top: 5rem;
    margin-bottom: 3.5rem;
    .hero_section{
        margin-right: 6.5rem;
        @include mobile(){
            margin-right: 0;
        }
        picture{
            right: 0;
            top: -8rem;
            @include mobile(){
                top: 0;
                right: -12rem;
            }
            img{
                width: 90rem;
            }
        }
    }
}

.award_section{
    position: relative;
    @include mobile(){
        margin: 30rem 6.5rem 0;
    }
    .awards_box{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 10rem;
        @include mobile(){
            grid-template-columns: 1fr;
            place-items: center;
        }
        .awards_item{
            color: #000;
            @include mobile(){
                width: 100%;
            }
            img{
                width: 41rem;
                margin-bottom: 2rem;
                @include mobile(){
                    width: 100%;
                    margin-bottom: 4rem;
                }
            }
            .award_date{
                font-size: 3.422rem;
                color: rgba($color: #000, $alpha: .3);
                margin-bottom: 1rem;
                line-height: 1;
                @include mobile(){
                    font-size: 5rem;
                }
            }
            .award_type{
                font-size: 5.081rem;
                margin-bottom: 1rem;
                line-height: 1;
                @include mobile(){
                    font-size: 7rem;
                }
            }
            .about_award{
                font-size: 2.379rem;
                @include mobile(){
                    font-size: 4rem;
                    br{
                        display: none;
                    }
                }
            }
        }
    }
    .award_vector{
        position: absolute;
        top: 63%;
        right: -.1%;
        transform: translateY(-50%);
        width: 34rem;
        @include mobile(){
            position: relative;
            top: auto;
            right: auto;
            transform: translate(0);
            width: 100%;
            margin-top: 10rem;
        }
    }
}

h3{
    font-size: 4.2rem;
    margin-bottom: 1.5rem;
    line-height: 1.1;
    letter-spacing: 0.8rem;
    @include mobile(){
        font-size: 10rem;
    }
}