.blog_listing{
    .hero_section{
        margin-bottom: 21rem;
        @include mobile(){
            margin-bottom: 14rem;
        }
        h1{
            line-height: 0.85;
            letter-spacing: 0;
            @include mobile(){
                line-height: 1;
            }
        }
        img{
            width: 73.8rem;
            @include mobile(){
                width: 100%;
                margin: 0;
                right: -10rem;
            }
        }
        
        p{
            margin-top: 5rem;
            margin-bottom: 0;
        }
    }
}

.blog_link{
    margin-top: 2rem;
    
    @include mobile(){
        font-size: 3rem;
    }
}

.our_blog{
    margin: 0 8rem 10rem;
    @include mobile(){
        margin: 0;
        padding: 0 6.5rem;
        width: 100%;
        margin-bottom: 17.75rem;
    }
    p{
        margin-top: 2rem;
        margin-bottom: 4rem;
        @include mobile(){
            line-height: 1.5;
            width: 100% !important;
            margin-top: 3rem;
            margin-bottom: 5rem;
        }
    }
}

.main_blog{
    display: flex;
    align-items: flex-end;
    gap: 4rem;
    margin-bottom: 11.3rem;

    @include mobile(){
        flex-direction: column;
    }
    a{
        .main_blog_image{
            position: relative;
            width: 89.6rem;
            aspect-ratio: 896 / 614;
            overflow: hidden;

            .main_blog_img{
                object-fit: cover;
                transition: transform 0.3s ease-in;
            }
        }
        &:hover .main_blog_image .main_blog_img{
            transform: scale(1.1);
        }
    }
    @media all and (max-width: 900px) {
        > a:first-child {
            display: block;
            width: 100%;
        }

        .main_blog_image {
            width: 100%;
            max-width: 100%;
        }
    }
}

.blogs_date{
    display: flex;
    align-items: center;
    gap: 5.5rem;
    font-size: 1.6rem;
    color: $black_60;
    margin-bottom: 2rem;
    @include mobile(){
        font-size: 3.6825rem;
    }
    span{
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 0.2rem;
            height: 80%;
            background: $black_30;
            top: 1.1rem;
            left: -30%;
            transform: translate(-50%, -50%);
            @include mobile(){
                top: 2.5rem;
                left: -15%;
            }
        }
        &:nth-child(1){
            &::before{
                display: none;
            }
        }
    }
}

.other_blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    
    @include mobile(){
        gap: 9.9rem;
        grid-template-columns: 1fr;
    }
    .blog_item{
        .blog_item_title{
            width: 37rem;

            @include tablet(){
                width: 100% !important;
            }
            @include mobile(){
                width: 100%;
            }
        }
        .blog_para{
            width: 27rem;

            @media all and (max-width: 900px){
                width: 100% !important;
            }
        }
        h5{
            letter-spacing: .5rem;
        }
        > a:first-child{
            display: block;

            .blog_item_image{
                position: relative;
                width: 100%;
                aspect-ratio: 698 / 479;
                overflow: hidden;

                .blog_item_img{
                    object-fit: cover;
                    transition: transform 0.3s ease-in;
                }
            }

            &:hover .blog_item_image .blog_item_img{
                transform: scale(1.1);
            }
        }
        @include mobile(){
            width: 100%;
        }
        &>div a{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 2rem;
            margin-top: 3.3rem;
            h2,
            .h5,
            .blog_item_title{
                width: 50rem;
                @include mobile(){
                    width: 100%;
                }
            }
            @media all and (max-width: 900px){
                flex-direction: column;
            }
            p{
                margin-top: 0;
                margin-bottom: 2.5rem;
                width: 28rem;
                overflow: hidden;
                display: -webkit-box;
                line-clamp: 5;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                @media all and (max-width: 900px){
                    width: 100% !important;
                }
                @include mobile(){
                    margin-top: 3rem;
                    margin-bottom: 5rem;
                }
            }
        }
    }
}