$black: #000;
$black_4: rgba($black, .04);
$black_10: rgba($black, .1);
$black_30: rgba($black, .3);
$black_40: rgba($black, .4);
$black_60: rgba($black, .6);
$black_80: rgba($black, .8);
$black_95: rgba($black, .95);
$black_thin: #2f3033;
$black_light: #202124;
$white: #fff;
$white_4: rgba($white, .04);
$white_10: rgba($white, .1);
$white_30: rgba($white, .3);
$white_40: rgba($white, .4);
$white_60: rgba($white, .6);
$white_80: rgba($white, .8);
$white_95: rgba($white, .95);
$gray: #ababab;
$gray_exlight: #b2b2b2;
$gray_dark: #5b5b5b;
$gray_medium: #9a9a9a;
$gray_medium_dark: #9a9999;
$gray_light: #dedede;
$gray_thin: #e3e3e3;
$gray_medium_thin: #e3e3e3;
$cfcfcf: #cfcfcf;