.main_horizontal .staticSection .horizontal_sliders {
    top: 0 !important;
    transform: translate(0, 0);
}

.main_horizontal .ourService-swiper .horizontal_sliders {
    top: 0 !important;
    transform: translate(0, 36%);
    margin-left: 0;
    @include mobile() {
        top: 10vh !important;
        transform: translate(0, 0);
    }
}
